.homepage {
  background-image: url(http://holeintheclouds.net/sites/holeintheclouds.net/files/good_morning/13jan/marrakech.jpg);
  text-align: center;
  background-repeat: no-repeat;
}

.text-box {
  margin-top: 15%;
}

.text-box button {
  margin: 1%;
}

.homepage h1 {
  font-family: 'Lobster', cursive;
  font-size: 6em;
}

.homepage h3 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-size: 2em;
} 

.homepage a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-nav li {
  color: #ffffff;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 2em;
}

#welcome {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav>li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
}

.search {
  margin-top: 15%;
  text-align: center;
  background-image: url("/images/new-york-city.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.search h2 {
  color: #ffffff;
}

.form-group {
  padding: 2%;
}

#search-bar {
  height: 60px;
  width: 700px;
  border-radius: 5%;
  font-size: 2em;
  text-align: center;
}

.signup {
  margin-top: 5%;
  text-align: center;
  background-image: url("/images/hyde-park.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.signup h2 {
    color: #ffffff;
}

.signup label {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em; 
}

.signup input {
  height: 40px;
  width: 200px;
  border-radius: 5%;
  margin: 0.5%;
}

.signup button {
  margin: 1%;
}

.login {
  margin-top: 5%;
  text-align: center;
  background-image: url("/images/festival.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.login h2 {
  color: #ffffff;
}

.login p {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em; 
}




