 <form action="/sight" method="get">
   <div>
     <input type="text" name="search" placeholder="Where would you like to discover?">
   </div>
   <div>
     <input type="submit" value="Let's go!">
   </div>
 </form>

<% if @sights != nil %>
   <div>
     <% @sights.each do |sight| %>
     <div>
       <%= sight.sight_name %>
       <%= sight.category %>
       <%= sight.feature %>
     </div>
     <% end %>
   </div>
 <% end %>

 <div>
   <%= @error %>
 </div>