 <form action="/discover" method="post">
   <div>
     <input type="text" name="search" placeholder="What do you want to discover?">
   </div>
   <div>
     <input type="submit" value="Let's go!">
   </div>
 </form>