 <form action="/sight" method="get">
   <div>
     <input type="text" name="search" placeholder="Where would you like to discover?">
   </div>
   <div>
     <input type="submit" value="Let's go!">
   </div>
 </form>