<h2>Add you favourite local spots to share with the world</h2>

<form role="form" method="post" action="/sights/new">
<% if session['user_id'] %>
  <div>
    <label>City:</label>
    <input type="text" name="location[city]" value="<%= @current_user_location %>">
  </div>
  <div>
    <label>Local Spot:</label>
    <input type="text" name="sights[sight_name]" value="<%= @sight && @sight.sight_name %>">
  </div>
  <div>
    <label>Category:</label>
    <select name="sights[category]" value="<% @sight && @sight.category %>">
      <option value="bars">Bars</option>
      <option value="restaurants">Resaurants</option>
      <option value="parks">Parks</option>
      <option value="cool shit">Cool shit</option>
    </select>
  </div>
  <div>
    <label>Features:</label>
    <br>
    <textarea id="text-box" type="text" name="sights[feature]" value="<% @sight && @sight.feature %>">
    </textarea> 
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Add my spot!</button>
  </div>
  <% end %>
</form>
