<script type="text/javascript">
	var feed = new Instafeed({
	get: 'tagged',
	tagName: 'toronto',
	target: "<%= @sight.id %>",
	limit: '50',
	// sortBy: 'random',
	resolution: 'low_resolution',
	template: '<div class="col-md-4"><div class="instaimg"><div class ="instagram-images"><a href="{{link}}"><img src="{{image}}" /></a></div></div></div>',
	get: 'location',
	locationId: <%= @sight.instagram_location %>,
	clientId: '6b57da6cc49c4e2ca5af262214decb93'
	});
	feed.run();
</script>   
<h3>Latest Photos From <%= @sight.sight_name %></h3>
<div class ="instagram-img" id="<%= @sight.id %>"></div>

