<div class = "signup">

<form method="post" action="/user/signup">

  <div>
    <label>Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label>First Name:</label>
    <input type="text" name="first_name" >
  </div>
  <div>
    <label>Last Name:</label>
    <input type="text" name="last_name"
    value="">
  </div>
  <div>
    <label>Email:</label>
    <input type="email" name="email">   
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password">   
  </div>
  <div>
    <label>Home City/Town:</label>
    <input type="test" name="city">   
  </div>  
  <div>
  <input type="submit" value="Submit">
  </div>

</form>

</div>
