<div class = "signup">

<form method="post" action="/user/signup">

  <div>
    <label>Username:</label>
    <input type="text" name="users[username]">
  </div>
  <div>
    <label>First Name:</label>
    <input type="text" name="users[first_name]" >
  </div>
  <div>
    <label>Last Name:</label>
    <input type="text" name="users[last_name]"
    value="">
  </div>
  <div>
    <label>Email:</label>
    <input type="email" name="users[email]">   
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="users[password]">   
  </div>
  <div>
    <label>Home City/Town:</label>
    <input type="text" name="users[home_location]">   
  </div>  
  <div>
  <input type="submit" value="Submit">
  </div>

</form>

</div>
