<div class="text-box">
    <h1>Live Like a Local</h1>
    <h3>Start exploring cities today!</h3>
    <button type="button" class="btn btn-primary btn-lg"><a href="/sights">Search cities</a></button>
</div>



