<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title>Live Like a Local!</title>
</head>
<body>
  <div class="navbar">
    <nav>
      <ul>
        <% if session['user_id'] %>
          <li>Welcome, <%= session['first_name'] %> </li>
          <li><a href="/logout"> Logout</a></li>
        <% else %>
          <li><a href="/users/new">Signup</a></li>
          <li><a href="/sessions/new">Login</a></li>
        <% end %> 
        <li><a href="/sights/new">Add a local spot</a></li>
        <% user = session['user_id'] %>
        <li><a href="/users/<%= user %>">My Profile</a></li>  

      </ul>
    </nav>
  </div>
  <%= yield %>
</body>
</html>
